<ion-header>
  <ion-toolbar>
    <ion-title>Transactions History</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let tx of txs$ | async | filterByTicker : tickerId">
      <ion-label>
        <h2>{{ tx.tickerId }}</h2>
        <p>
          Price: {{ tx.price | currency : "USD" : "symbol" : "1.2-2" }} 
          <span *ngIf="tx.createdAt">
            at {{ tx.createdAt | date : "short" }}
          </span>
        </p>
      </ion-label>
      <ion-note class="ion-margin-horizontal ion-text-end" slot="end">
        {{ tx.total | currency : "USD" : "symbol" : "1.2-2" }}<br />
        <small> {{ tx.quantity }}x </small>
      </ion-note>
      <ion-button
        color="danger"
        fill="outline"
        slot="end"
        (click)="deleteTx(tx.id)"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
