:host {
  ion-list.resume ion-label {
    font-weight: bolder;
    p {
      font-weight: normal;
    }
  }
  ion-item,
  ion-list {
    background: transparent !important;
    --background: transparent !important;
    // --border-color: red!important;
  }

  .header-table {
    padding-left: 5.5rem;
    padding-right: 3rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--ion-background-color);
  }

  .cardTitle {
    font-size: 60%;
    color: var(--ion-color-medium);
    margin-bottom: 0;
  }

  ion-card {
    margin-top: 0.25rem;
  }

  section#auth {
    height: 100%;

    h1 {
      font-size: 3rem;
      font-weight: 600;
    }

    ion-grid {
      height: 100%;

      > ion-row:first-child {
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: auto;
      text-align: center;
      padding: 1rem;
      font-size: 0.75rem;
    }
  }
}
